@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Edu VIC WA NT Beginner", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color:white;
}
html , body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    
}

